In [2]:
import matplotlib as mpl
import math 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pyplot
import numpy as np

In [4]:
#reading in data, input your own file directory
df = pd.read_csv("/Users/leannmclaren/Box Sync/Erdos Institute/2023_Erdos_Institute_Bootcamp_Education/Data/SRC2022/Annual Regents Exams Toy Example.csv")
df.head()

,INSTITUTION_ID,ENTITY_CD,ENTITY_NAME,YEAR,SUBJECT,SUBGROUP_NAME,TESTED,NUM_LEVEL1,PER_LEVEL1,NUM_LEVEL2,...,NUM_LEVEL5,PER_LEVEL5,NUM_PROF,PER_PROF,TOTAL_EXEMPT,NUM_EXEMPT_NTEST,PCT_EXEMPT_NTEST,NUM_EXEMPT_TEST,PCT_EXEMPT_TEST,ASSMNT_FLAG
0,8.000001e+11,151401040000,SCHROON LAKE CSD,2021,Regents Phy Set/Chemistry,Economically Disadvantaged,0,0,NaN,0,...,0,NaN,0,NaN,3.0,3.0,100.0,0.0,0.0,Y
1,8.000001e+11,151401040000,SCHROON LAKE CSD,2021,Regents Phy Set/Earth Sci,Economically Disadvantaged,12,1,08,6,...,0,00,5,42,12.0,3.0,25.0,9.0,75.0,NaN
2,8.000001e+11,151401040000,SCHROON LAKE CSD,2021,Regents US History&Gov't,Economically Disadvantaged,0,0,NaN,0,...,0,NaN,0,NaN,8.0,8.0,100.0,0.0,0.0,Y
3,8.000001e+11,151501060000,TICONDEROGA CSD,2021,Regents Common Core Algebra I,Male,3,s,s,s,...,s,s,s,s,11.0,8.0,73.0,3.0,27.0,NaN
4,8.000001e+11,151501060000,TICONDEROGA CSD,2021,Regents Common Core Algebra II,Male,0,0,NaN,0,...,0,NaN,0,NaN,1.0,1.0,100.0,0.0,0.0,Y

In [18]:
#exploring data

#looking at columns
df.columns

# Only subsetting to the variables I'm interested in 
df2 = df[['ENTITY_NAME','YEAR', 'SUBJECT', 'PER_PROF','SUBGROUP_NAME']]
#checking
df2.head()

#only doing chem regents exams
df3 = df2.loc[df2['SUBJECT'] == 'Regents Phy Set/Chemistry']
df3.head()

#looking at value counts
df3["PER_PROF"].value_counts()
# it seems that theres no percent proficiency calculated for for chemistry

,ENTITY_NAME,YEAR,SUBJECT,PER_PROF,SUBGROUP_NAME
0,SCHROON LAKE CSD,2021,Regents Phy Set/Chemistry,NaN,Economically Disadvantaged
16,All Public Schools,2021,Regents Phy Set/Chemistry,NaN,Migrant
27,All Public Schools,2021,Regents Phy Set/Chemistry,NaN,Economically Disadvantaged
38,All Public Schools,2021,Regents Phy Set/Chemistry,NaN,Not Economically Disadvantaged
49,All Public Schools,2021,Regents Phy Set/Chemistry,NaN,Not Migrant

In [29]:
#looking at earth science scores among all students

#only doing chem regents exams
df3 = df2.loc[df2['SUBJECT'] == 'Regents Phy Set/Earth Sci']
df3.head(50)

,ENTITY_NAME,YEAR,SUBJECT,PER_PROF,SUBGROUP_NAME
1,SCHROON LAKE CSD,2021,Regents Phy Set/Earth Sci,42,Economically Disadvantaged
8,TICONDEROGA CSD,2021,Regents Phy Set/Earth Sci,80,Male
15,All Public Schools,2021,Regents Phy Set/Earth Sci,21,Migrant
26,All Public Schools,2021,Regents Phy Set/Earth Sci,44,Economically Disadvantaged
37,All Public Schools,2021,Regents Phy Set/Earth Sci,75,Not Economically Disadvantaged
48,All Public Schools,2021,Regents Phy Set/Earth Sci,66,Not Migrant
59,All Public Schools,2021,Regents Phy Set/Earth Sci,69,White
70,All Public Schools,2021,Regents Phy Set/Earth Sci,66,Female
81,All Public Schools,2021,Regents Phy Set/Earth Sci,66,Parent Not in Armed Forces
92,All Public Schools,2021,Regents Phy Set/Earth Sci,40,American Indian or Alaska Native
103,All Public Schools,2021,Regents Phy Set/Earth Sci,66,Multiracial
114,All Public Schools,2021,Regents Phy Set/Earth Sci,31,Students with Disabilities
125,All Public Schools,2021,Regents Phy Set/Earth Sci,17,English Language Learner
136,All Public Schools,2021,Regents Phy Set/Earth Sci,66,All Students
147,All Public Schools,2021,Regents Phy Set/Earth Sci,67,Non-English Language Learner
158,All Public Schools,2021,Regents Phy Set/Earth Sci,84,Asian or Native Hawaiian/Other Pacific Islander
171,ALBANY County,2021,Regents Phy Set/Earth Sci,74,Male
175,ALBANY County,2021,Regents Phy Set/Earth Sci,71,White
190,ALBANY County,2021,Regents Phy Set/Earth Sci,s,Homeless
201,ALBANY County,2021,Regents Phy Set/Earth Sci,s,In Foster Care
211,ALBANY County,2021,Regents Phy Set/Earth Sci,NaN,Parent in Armed Forces
228,ALBANY County,2021,Regents Phy Set/Earth Sci,s,Not Homeless
238,ALBANY County,2021,Regents Phy Set/Earth Sci,74,General Education Students
248,ALBANY County,2021,Regents Phy Set/Earth Sci,s,Not in Foster Care
255,ALBANY County,2021,Regents Phy Set/Earth Sci,s,Hispanic or Latino
266,ALBANY County,2021,Regents Phy Set/Earth Sci,69,Female
277,ALBANY County,2021,Regents Phy Set/Earth Sci,35,Black or African American
288,ALBANY County,2021,Regents Phy Set/Earth Sci,72,All Students
292,ALBANY County,2021,Regents Phy Set/Earth Sci,72,Not Migrant
302,ALBANY County,2021,Regents Phy Set/Earth Sci,NaN,Migrant
316,ALBANY County,2021,Regents Phy Set/Earth Sci,72,Parent Not in Armed Forces
331,ALBANY County,2021,Regents Phy Set/Earth Sci,s,American Indian or Alaska Native
350,ALBANY County,2021,Regents Phy Set/Earth Sci,73,Multiracial
354,ALBANY County,2021,Regents Phy Set/Earth Sci,55,Small Group Total
360,ALBANY County,2021,Regents Phy Set/Earth Sci,41,Students with Disabilities
368,ALBANY County,2021,Regents Phy Set/Earth Sci,s,English Language Learner
388,ALBANY County,2021,Regents Phy Set/Earth Sci,s,Non-English Language Learner
394,ALBANY County,2021,Regents Phy Set/Earth Sci,78,Not Economically Disadvantaged
396,ALBANY County,2021,Regents Phy Set/Earth Sci,90,Asian or Native Hawaiian/Other Pacific Islander
410,ALBANY County,2021,Regents Phy Set/Earth Sci,42,Economically Disadvantaged
418,ALLEGANY County,2021,Regents Phy Set/Earth Sci,52,Male
425,ALLEGANY County,2021,Regents Phy Set/Earth Sci,49,White
438,ALLEGANY County,2021,Regents Phy Set/Earth Sci,s,Homeless
441,All Public Schools,2021,Regents Phy Set/Earth Sci,66,Male
452,All Public Schools,2021,Regents Phy Set/Earth Sci,26,Homeless
463,All Public Schools,2021,Regents Phy Set/Earth Sci,23,In Foster Care
474,All Public Schools,2021,Regents Phy Set/Earth Sci,62,Parent in Armed Forces
485,All Public Schools,2021,Regents Phy Set/Earth Sci,66,Not in Foster Care
496,All Public Schools,2021,Regents Phy Set/Earth Sci,69,General Education Students
507,All Public Schools,2021,Regents Phy Set/Earth Sci,66,Not Homeless

In [ ]:
#looking at value counts
df3["PER_PROF"].value_counts()