In [1]:
import matplotlib as mpl
import math 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pyplot
import numpy as np

In [4]:
df = pd.read_csv("\'ACC EM Ch.csv")
df.head()

,INSTITUTION_ID,ENTITY_CD,ENTITY_NAME,YEAR,SUBJECT,SUBGROUP_NAME,ENROLLMENT,ABSENT_COUNT,ABSENT_RATE
0,"""800000055729""","""010100010000""","""ALBANY CITY SD""","""2021""","""38_CA""","""All Students""","""5438""","""1959""","""36"""
1,"""800000055729""","""010100010000""","""ALBANY CITY SD""","""2021""","""38_CA""","""Students with Disabilities""","""909""","""459""","""50.5"""
2,"""800000055729""","""010100010000""","""ALBANY CITY SD""","""2021""","""38_CA""","""American Indian or Alaska Native""","""15""","""s""","""s"""
3,"""800000055729""","""010100010000""","""ALBANY CITY SD""","""2021""","""38_CA""","""Asian or Native Hawaiian/Other Pacific Islander""","""504""","""85""","""16.9"""
4,"""800000055729""","""010100010000""","""ALBANY CITY SD""","""2021""","""38_CA""","""Black or African American""","""2323""","""1065""","""45.8"""

In [5]:
df.columns

Index(['INSTITUTION_ID', 'ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'SUBJECT',
       'SUBGROUP_NAME', 'ENROLLMENT', 'ABSENT_COUNT', 'ABSENT_RATE'],
      dtype='object')

In [6]:
list(df.iloc[0])

['"800000055729"',
 '"010100010000"',
 '"ALBANY CITY SD"',
 '"2021"',
 '"38_CA"',
 '"All Students"',
 '"5438"',
 '"1959"',
 '"36"']

In [7]:
df = df.dropna()

for column in df.columns:
    df[column] = df[column].apply(lambda entry: entry.strip('"'))
   
for column in ['ENROLLMENT', 'ABSENT_RATE']:
    df[column].astype('int64')

ValueError: invalid literal for int() with base 10: 's'

In [41]:
df.head()

,INSTITUTION_ID,ENTITY_CD,ENTITY_NAME,YEAR,SUBJECT,SUBGROUP_NAME,ENROLLMENT,ABSENT_COUNT,ABSENT_RATE
0,800000055729,010100010000,ALBANY CITY SD,2021,38_CA,All Students,5438,1959,36
1,800000055729,010100010000,ALBANY CITY SD,2021,38_CA,Students with Disabilities,909,459,50.5
2,800000055729,010100010000,ALBANY CITY SD,2021,38_CA,American Indian or Alaska Native,15,s,s
3,800000055729,010100010000,ALBANY CITY SD,2021,38_CA,Asian or Native Hawaiian/Other Pacific Islander,504,85,16.9
4,800000055729,010100010000,ALBANY CITY SD,2021,38_CA,Black or African American,2323,1065,45.8

In [4]:
sns.scatterplot(
    data = df, 
    x = 'ENROLLMENT',
    y = 'ABSENT_RATE',
    hue = "SUBGROUP_NAME"
)

ValueError: Could not interpret value `ENROLLMENT` for parameter `x`

### Notes
# Getting rid of non-numerical values in a dataframe.