In [2]:
import matplotlib as mpl
import math 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
#reading in data, input your own file directory

#High School Data
#Absenteeism Rates, High School
dfab_HS = pd.read_excel("/Users/leannmclaren/Box Sync/Erdos Institute/2023_Erdos_Institute_Bootcamp_Education/Data/SRC2022/ACC HS Chronic Absenteeism.xlsx")
#Graduation Rate, High School 
dfgradr_HS = pd.read_excel("/Users/leannmclaren/Box Sync/Erdos Institute/2023_Erdos_Institute_Bootcamp_Education/Data/SRC2022/ACC HS Graduation Rate.xlsx")
#Core Subject Performance Rates, High School 
dfCSPR_HS = pd.read_excel("/Users/leannmclaren/Box Sync/Erdos Institute/2023_Erdos_Institute_Bootcamp_Education/Data/SRC2022/ACC HS Core and Weighted Performance.xlsx")
#participation Rate
dfPR_HS = pd.read_excel("/Users/leannmclaren/Box Sync/Erdos Institute/2023_Erdos_Institute_Bootcamp_Education/Data/SRC2022/ACC HS Participation Rate.xlsx")





#Elementary and Middle School Data 
#Participation Rates, Elementary and Middle
dfPR_EM = pd.read_excel("/Users/leannmclaren/Box Sync/Erdos Institute/2023_Erdos_Institute_Bootcamp_Education/Data/SRC2022/ACC EM Participation Rate.xlsx")
#Core Subject Performance Rates, Elementary and Middle 
dfCSPR_EM = pd.read_excel("/Users/leannmclaren/Box Sync/Erdos Institute/2023_Erdos_Institute_Bootcamp_Education/Data/SRC2022/ACC EM Core and Weighted Performance.xlsx")


#Staff Data
#post secondary enrollment, high school
dfPSE_HS = pd.read_excel("/Users/leannmclaren/Box Sync/Erdos Institute/2023_Erdos_Institute_Bootcamp_Education/Data/SRC2022/Postsecondary Enrollment.xlsx")

,INSTITUTION_ID,ENTITY_CD,ENTITY_NAME,YEAR,SUBJECT,SUBGROUP_NAME,ENROLLMENT,ABSENT_COUNT,ABSENT_RATE,LEVEL,OVERRIDE,DATA_REP_FLAG,PARTIAL_DATA_FLAG
0,800000055729,10100010000,ALBANY CITY SD,2021,HS_CA,All Students,2755,1031,37.4,NaN,NaN,Y,NaN
1,800000055729,10100010000,ALBANY CITY SD,2021,HS_CA,Students with Disabilities,415,197,47.5,NaN,NaN,Y,NaN
2,800000055729,10100010000,ALBANY CITY SD,2021,HS_CA,American Indian or Alaska Native,9,s,s,NaN,NaN,Y,NaN
3,800000055729,10100010000,ALBANY CITY SD,2021,HS_CA,Asian or Native Hawaiian/Other Pacific Islander,219,40,18.3,NaN,NaN,Y,NaN
4,800000055729,10100010000,ALBANY CITY SD,2021,HS_CA,Black or African American,1398,624,44.6,NaN,NaN,Y,NaN

In [6]:
dfab_HS.head(5)

,INSTITUTION_ID,ENTITY_CD,ENTITY_NAME,YEAR,SUBJECT,SUBGROUP_NAME,ENROLLMENT,ABSENT_COUNT,ABSENT_RATE,LEVEL,OVERRIDE,DATA_REP_FLAG,PARTIAL_DATA_FLAG
0,800000055729,10100010000,ALBANY CITY SD,2021,HS_CA,All Students,2755,1031,37.4,NaN,NaN,Y,NaN
1,800000055729,10100010000,ALBANY CITY SD,2021,HS_CA,Students with Disabilities,415,197,47.5,NaN,NaN,Y,NaN
2,800000055729,10100010000,ALBANY CITY SD,2021,HS_CA,American Indian or Alaska Native,9,s,s,NaN,NaN,Y,NaN
3,800000055729,10100010000,ALBANY CITY SD,2021,HS_CA,Asian or Native Hawaiian/Other Pacific Islander,219,40,18.3,NaN,NaN,Y,NaN
4,800000055729,10100010000,ALBANY CITY SD,2021,HS_CA,Black or African American,1398,624,44.6,NaN,NaN,Y,NaN

In [10]:
def trimmer(df: pd.DataFrame, *column_names, year: int=2022, year_col_name: str="YEAR")->pd.DataFrame:
    """
    Keeps only the columns specified, only the rows whose year agrees with the year argument, 
    and if there is a SUBGROUP column then it keeps only rows with the subgroup classification 
    of "All Students". 
    This is NOT an in-place method. 
    """
    # Trimming Rows
    if year_col_name in df.columns:
        df = df.loc[df[year_col_name]==year]
    if "SUBGROUP_NAME" in df.columns:
        df = df.loc[df["SUBGROUP_NAME"]=="All Students"] #<-----This drops all rows that do not have "All Students" as the "SUBGROUP" column entry. 
    # Trimming Columns
    return df[list(column_names)]

In [28]:
# Trimming data to variables I believe I only need
#high school dat
dfab_HS = trimmer(dfab_HS, 'INSTITUTION_ID', 'ENTITY_NAME', "ABSENT_RATE", "DATA_REP_FLAG", year=2022)
dfgradr_HS = trimmer(dfgradr_HS, 'INSTITUTION_ID', 'ENTITY_NAME', 'GRAD_RATE', year=2022)
dfCSPR_HS = trimmer(dfCSPR_HS, 'INSTITUTION_ID', 'ENTITY_NAME', "CORE_INDEX", "SUBJECT", year=2022)
dfPR_HS = trimmer(dfPR_HS, 'INSTITUTION_ID', 'ENTITY_NAME', "SUBJECT", "RATE", year=2022)



#elementary and middle school data
dfPR_EM = trimmer(dfPR_EM, 'INSTITUTION_ID', 'ENTITY_NAME', "RATE","MET_95_PERCENT", year=2022)
dfCSPR_EM = trimmer(dfCSPR_EM, 'INSTITUTION_ID', 'ENTITY_NAME', 'CORE_INDEX', "SUBJECT", year=2022)

#post secondary enrollment
dfPSE_HS = trimmer(dfPSE_HS, 'INSTITUTION_ID', 'ENTITY_NAME', "TOTAL_GRAD_COUNT", "PER_NYS_PUB_4_YR", 
                   "PER_NYS_PVT_4_YR", "PER_NYS_PUB_2_YR", "PER_NYS_PVT_2_YR", year=2022)

#Checking
print(dfab_HS.head())
print(dfgradr_HS.head())
print(dfCSPR_HS.head())
print(dfPR_HS.head())
print(dfPR_EM.head())
print(dfCSPR_EM.head())
print(dfPSE_HS.head())

       INSTITUTION_ID                           ENTITY_NAME ABSENT_RATE  \
18970    800000055729                        ALBANY CITY SD        60.5
18980    800000055743                    ALBANY HIGH SCHOOL        60.7
18991    800000055478               BERNE-KNOX-WESTERLO CSD        22.6
19001    800000055479  BERNE-KNOX-WESTERLO JUNIOR-SENIOR HS        22.6
19011    800000055452                         BETHLEHEM CSD        14.9

      DATA_REP_FLAG
18970             Y
18980             Y
18991             Y
19001             Y
19011             Y
    INSTITUTION_ID         ENTITY_NAME GRAD_RATE
21    800000055729      ALBANY CITY SD      79.6
23    800000055729      ALBANY CITY SD      76.3
26    800000055729      ALBANY CITY SD        77
28    800000055729      ALBANY CITY SD      77.6
66    800000055743  ALBANY HIGH SCHOOL      78.6
   INSTITUTION_ID     ENTITY_NAME CORE_INDEX   SUBJECT
0    800000055729  ALBANY CITY SD        184       ELA
1    800000055729  ALBANY CITY SD      118.4      MATH
2    800000055729  ALBANY CITY SD      164.5   SCIENCE
3    800000055729  ALBANY CITY SD      148.7    SOCIAL
4    800000055729  ALBANY CITY SD      153.9  Combined
    INSTITUTION_ID                     ENTITY_NAME  SUBJECT  RATE
0     800000055729                  ALBANY CITY SD   HS ELA  19.8
1     800000055729                  ALBANY CITY SD  HS MATH  82.3
20    800000055743              ALBANY HIGH SCHOOL   HS ELA  19.5
21    800000055743              ALBANY HIGH SCHOOL  HS MATH  82.9
40    800000059776  GREEN TECH HIGH CHARTER SCHOOL   HS ELA  55.4
    INSTITUTION_ID                       ENTITY_NAME  RATE MET_95_PERCENT
15    800000055743                ALBANY HIGH SCHOOL     s              s
16    800000055743                ALBANY HIGH SCHOOL     s              s
35    800000055764      ARBOR HILL ELEMENTARY SCHOOL  91.8              N
36    800000055764      ARBOR HILL ELEMENTARY SCHOOL    89              N
55    800000058130  P J SCHUYLER ACHIEVEMENT ACADEMY  99.3              Y
    INSTITUTION_ID               ENTITY_NAME CORE_INDEX   SUBJECT
0     800000055729            ALBANY CITY SD       90.5       ELA
1     800000055729            ALBANY CITY SD         67      Math
2     800000055729            ALBANY CITY SD      143.9   Science
3     800000055729            ALBANY CITY SD       88.1  Combined
40    800000055730  MONTESSORI MAGNET SCHOOL      144.1       ELA
    INSTITUTION_ID                         ENTITY_NAME  TOTAL_GRAD_COUNT  \
7              NaN  High Need/Resource Rural Districts              9746
30             NaN              Average Need Districts             55939
53             NaN                  Low Need Districts             30665
76             NaN                     Charter Schools              6209
97             NaN                       ALBANY County              2815

   PER_NYS_PUB_4_YR PER_NYS_PVT_4_YR PER_NYS_PUB_2_YR PER_NYS_PVT_2_YR
7                16               10               19               00
30               20               15               21               00
53               22               19               12               00
76               29               12               15               00
97               17               17               21               00

In [29]:
#exploring data
#looking at columns
dfab_HS.columns


#looking at value counts


print(dfab_HS["ENTITY_NAME"].value_counts())

print(dfgradr_HS["ENTITY_NAME"].value_counts())

print(dfCSPR_HS["ENTITY_NAME"].value_counts())

print(dfPR_HS["ENTITY_NAME"].value_counts())

print(dfPR_EM["ENTITY_NAME"].value_counts())

print(dfCSPR_EM["ENTITY_NAME"].value_counts())

print(dfPSE_HS["ENTITY_NAME"].value_counts())
# Not sure why some schools are repeating twice

EAST MIDDLE SCHOOL             2
IROQUOIS MIDDLE SCHOOL         2
EAGLE ACADEMY FOR YOUNG MEN    2
BEACON HIGH SCHOOL             2
ALBANY CITY SD                 1
                              ..
CARLE PLACE UFSD               1
MINEOLA HIGH SCHOOL            1
MINEOLA UFSD                   1
HERRICKS HIGH SCHOOL           1
DUNDEE ELEMENTARY SCHOOL       1
Name: ENTITY_NAME, Length: 2189, dtype: int64
EAGLE ACADEMY FOR YOUNG MEN            8
BEACON HIGH SCHOOL                     8
ALBANY CITY SD                         4
WEST GENESEE CSD                       4
FABIUS-POMPEY MIDDLE SCH HIGH SCH      4
                                      ..
GREAT NECK UFSD                        4
MANHASSET SECONDARY SCHOOL             4
MANHASSET UFSD                         4
PAUL D SCHREIBER SENIOR HIGH SCHOOL    4
DUNDEE ELEMENTARY SCHOOL               4
Name: ENTITY_NAME, Length: 1998, dtype: int64
EAGLE ACADEMY FOR YOUNG MEN            10
BEACON HIGH SCHOOL                     10
ALBANY CITY SD                          5
CICERO-NORTH SYRACUSE HS                5
SOLVAY HIGH SCHOOL                      5
                                       ..
MANHASSET SECONDARY SCHOOL              5
MANHASSET UFSD                          5
PAUL D SCHREIBER SENIOR HIGH SCHOOL     5
PORT WASHINGTON UFSD                    5
DUNDEE JUNIOR-SENIOR HIGH SCHOOL        5
Name: ENTITY_NAME, Length: 1971, dtype: int64
EAGLE ACADEMY FOR YOUNG MEN             4
BEACON HIGH SCHOOL                      3
ALBANY CITY SD                          2
NORTH SYRACUSE CSD                      2
SOLVAY UFSD                             2
                                       ..
EL PUENTE ACAD FOR PEACE AND JUSTICE    1
URBAN ACAD LABORATORY HIGH SCHOOL       1
HS 560 CITY-AS-SCHOOL                   1
LYONS COMMUNITY SCHOOL                  1
BROOKLYN INTERNATIONAL HS               1
Name: ENTITY_NAME, Length: 1954, dtype: int64
JOHN F KENNEDY SCHOOL            8
JOHN F KENNEDY MIDDLE SCHOOL     8
PARK AVENUE SCHOOL               8
JEFFERSON ELEMENTARY SCHOOL      6
THEODORE ROOSEVELT SCHOOL        6
                                ..
MS 131                           2
PS 130 HERNANDO DE SOTO          2
DUNDEE ELEMENTARY SCHOOL         2
BELLPORT SENIOR HIGH SCHOOL      1
WEBSTER-SCHROEDER HIGH SCHOOL    1
Name: ENTITY_NAME, Length: 4484, dtype: int64
JOHN F KENNEDY SCHOOL           16
JOHN F KENNEDY MIDDLE SCHOOL    16
PARK AVENUE SCHOOL              16
EAST MIDDLE SCHOOL              12
IROQUOIS MIDDLE SCHOOL          12
                                ..
BATTERY PARK CITY SCHOOL         4
RIVER SCHOOL                     4
IS 289                           4
PS 290 MANHATTAN NEW SCHOOL      4
DUNDEE ELEMENTARY SCHOOL         4
Name: ENTITY_NAME, Length: 4522, dtype: int64
EAGLE ACADEMY FOR YOUNG MEN         2
BEACON HIGH SCHOOL                  2
NY MILLS SCHOOL                     1
DONALD H CRANE JUNIOR/SENIOR HS     1
LOCKPORT CITY SD                    1
                                   ..
CANAJOHARIE SENIOR HIGH SCHOOL      1
CANAJOHARIE CSD                     1
AMSTERDAM HIGH SCHOOL               1
AMSTERDAM CITY SD                   1
DUNDEE JUNIOR-SENIOR HIGH SCHOOL    1
Name: ENTITY_NAME, Length: 2012, dtype: int64

In [6]:
#looking at scores among all students

,ENTITY_NAME,YEAR,SUBJECT,PER_PROF,SUBGROUP_NAME
134,All Public Schools,2021,Regents US History&Gov't,NaN,All Students
135,All Public Schools,2021,Regents Phy Set/Physics,NaN,All Students
136,All Public Schools,2021,Regents Phy Set/Earth Sci,66,All Students
137,All Public Schools,2021,Regents Phy Set/Chemistry,NaN,All Students
138,All Public Schools,2021,Regents Living Environment,80,All Students
...,...,...,...,...,...
10331,ST. LAWRENCE County,2021,Regents Phy Set/Earth Sci,62,All Students
10332,ST. LAWRENCE County,2021,Regents Phy Set/Physics,NaN,All Students
10355,ST. LAWRENCE County,2021,Regents Phy Set/Chemistry,NaN,All Students
10420,ST. LAWRENCE County,2021,Regents Living Environment,78,All Students
10421,ST. LAWRENCE County,2021,Regents Common Core English Language Art,91,All Students