In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df_y = pd.read_excel("../Data/SRC2022/Annual Regents Exams.xlsx")

In [3]:
df_y.columns

Index(['INSTITUTION_ID', 'ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'SUBJECT',
       'SUBGROUP_NAME', 'TESTED', 'NUM_LEVEL1', 'PER_LEVEL1', 'NUM_LEVEL2',
       'PER_LEVEL2', 'NUM_LEVEL3', 'PER_LEVEL3', 'NUM_LEVEL4', 'PER_LEVEL4',
       'NUM_LEVEL5', 'PER_LEVEL5', 'NUM_PROF', 'PER_PROF', 'TOTAL_EXEMPT',
       'NUM_EXEMPT_NTEST', 'PCT_EXEMPT_NTEST', 'NUM_EXEMPT_TEST',
       'PCT_EXEMPT_TEST', 'ASSMNT_FLAG'],
      dtype='object')

In [4]:
print(df_y.loc[df_y.ENTITY_CD%10000 != 0].ENTITY_NAME.value_counts(), sep="\n", end="\n \n")
print(df_y.loc[df_y.ENTITY_CD%10000 != 0].ENTITY_CD.value_counts(), sep="\n", end="\n \n")


# df_y.iloc[].SUBGROUP_NAME.value_counts()

ENTITY_NAME
PINE VALLEY CENTRAL JR-SR HIGH SCH     212
WESTFIELD HIGH SCHOOL                  195
GREEN TECH HIGH CHARTER SCHOOL         193
COLONIE CENTRAL HIGH SCHOOL            192
MAINE-ENDWELL SENIOR HS                183
                                      ...
PS/MS 280 MOSHOLU PARKWAY                1
RIVERTON STREET CHARTER SCHOOL           1
PS 279 CAPT MANUEL RIVERA JR             1
NEW SCHOOL-LEADERSHIP & JOURNAL          1
BEDFORD STUY NEW BEGINNINGS CHARTER      1
Name: count, Length: 2332, dtype: int64

ENTITY_CD
60601040003     212
62901040002     195
10100860907     193
10601060008     192
31101060006     192
               ...
320700011495      1
342900010355      1
332300010668      1
332300010671      1
320800010337      1
Name: count, Length: 2221, dtype: int64

In [5]:
print(df_y.loc[df_y.ENTITY_CD%10000 != 0].loc[df_y.SUBGROUP_NAME == "All Students"].SUBGROUP_NAME.value_counts(), sep="\n", end="\n \n")

SUBGROUP_NAME
All Students    1313
Name: count, dtype: int64

In [6]:
print(df_y.loc[df_y.ENTITY_CD%10000 != 0].SUBJECT.value_counts(), sep="\n", end="\n \n")

SUBJECT
Regents Common Core Algebra I               10882
Regents Living Environment                   6811
Regents Phy Set/Earth Sci                    5516
Regents Common Core English Language Art     4636
Regents Common Core Geometry                 2409
Regents Phy Set/Chemistry                    2367
Regents Common Core Algebra II               2321
Regents NF Global History                    2198
Regents Phy Set/Physics                      1964
Name: count, dtype: int64

In [7]:
df_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   INSTITUTION_ID    61558 non-null  float64
 1   ENTITY_CD         65534 non-null  int64
 2   ENTITY_NAME       65534 non-null  object
 3   YEAR              65534 non-null  int64
 4   SUBJECT           65534 non-null  object
 5   SUBGROUP_NAME     65534 non-null  object
 6   TESTED            65534 non-null  int64
 7   NUM_LEVEL1        65534 non-null  object
 8   PER_LEVEL1        65534 non-null  object
 9   NUM_LEVEL2        65534 non-null  object
 10  PER_LEVEL2        65534 non-null  object
 11  NUM_LEVEL3        65534 non-null  object
 12  PER_LEVEL3        65534 non-null  object
 13  NUM_LEVEL4        65534 non-null  object
 14  PER_LEVEL4        65534 non-null  object
 15  NUM_LEVEL5        65534 non-null  object
 16  PER_LEVEL5        65534 non-null  object
 17  NUM_PROF          65534 non-null  object
 18  PER_PROF          65534 non-null  object
 19  TOTAL_EXEMPT      43811 non-null  float64
 20  NUM_EXEMPT_NTEST  43811 non-null  float64
 21  PCT_EXEMPT_NTEST  10444 non-null  float64
 22  NUM_EXEMPT_TEST   43811 non-null  float64
 23  PCT_EXEMPT_TEST   10444 non-null  float64
 24  ASSMNT_FLAG       0 non-null      float64
dtypes: float64(7), int64(3), object(15)
memory usage: 12.5+ MB