In [1]:
import matplotlib as mpl
import math 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [20]:
df = pd.read_csv("../Data/Expendatures Teacher Inexperience Out of Cert and Core Index").dropna()

In [39]:
features = ['PER_FED_STATE_LOCAL_EXP', 'PER_TEACH_INEXP', 'PER_OUT_CERT']
outcome = "CORE_INDEX"
list(df.columns)

['Unnamed: 0',
 'ENTITY_NAME',
 'ENTITY_CD',
 'PER_FED_STATE_LOCAL_EXP',
 'PER_TEACH_INEXP',
 'PER_OUT_CERT',
 'INSTITUTION_ID',
 'CORE_INDEX',
 'SUBJECT',
 'SCHOOL_TYPE']

In [22]:
df.sample(10)

,Unnamed: 0,ENTITY_NAME,ENTITY_CD,PER_FED_STATE_LOCAL_EXP,PER_TEACH_INEXP,PER_OUT_CERT,INSTITUTION_ID,CORE_INDEX,SUBJECT,SCHOOL_TYPE
3242,3242,INSTITUTE OF TECH-SYRACUSE CENTRAL,421800010047,13880.0,13.0,20.0,800000040860,144.1,Combined,HS
4241,4241,PAIGE ELEMENTARY SCHOOL,530600010013,14624.0,3.0,0.0,800000038403,73.4,Combined,EM
3592,3592,GEORGE GRANT MASON ELEMENTARY,441903020002,36667.0,0.0,0.0,800000040173,177.5,Combined,EM
3628,3628,PS 159,342600010159,17528.0,24.0,0.0,800000043065,192.5,Combined,EM
3682,3682,JHS 226 VIRGIL I GRISSOM,342700010226,16811.0,53.0,13.0,800000042936,94.6,Combined,EM
4107,4107,CLINTON SENIOR HIGH SCHOOL,411101060005,12158.0,10.0,7.0,800000041446,182.5,Combined,HS
1238,1238,THOMAS HIGH SCHOOL,261901060015,11461.0,12.0,0.0,800000050711,163.3,Combined,HS
794,794,PS 84,140600010084,52974.0,0.0,24.0,800000052917,126.0,Combined,EM
4296,4296,BRADFORD CENTRAL SCHOOL,570401040001,17278.0,32.0,0.0,800000037997,177.4,Combined,HS
2072,2072,BROOKLYN PREPARATORY HS,331400011488,15437.0,39.0,10.0,800000057989,159.8,Combined,HS

In [23]:
from sklearn.model_selection import train_test_split
df_train, df_val = train_test_split(df, 
                                     train_size = .9, 
                                     random_state=500, 
                                     shuffle=True
                                     )

In [24]:
# from sklearn.model_selection import KFold
# cross_val_info = KFold(n_splits=5, 
#                        shuffle=True, 
#                        random_state=500
#                        )
# cross_val_info.split(df_train)

In [30]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X=df_train[features], 
           y=df_train[outcome])

LinearRegression()

In [32]:
y_train_pred = linreg.predict(df_train[features])

In [33]:
y_train_pred

array([144.03522896, 139.79051967, 127.6886875 , ..., 140.97297716,
       111.20786104, 127.64771692])

In [35]:
df_train[outcome]

826     124.6
4651    193.3
2986     73.5
4472    125.5
1923     81.1
        ...
3076     71.3
3872    213.0
273      94.5
3990    159.7
968     102.1
Name: CORE_INDEX, Length: 4351, dtype: float64

In [36]:
linreg.coef_

array([-0.00057005, -0.44116668, -0.25220643])

In [40]:
df[features+[outcome]].corr()

,PER_FED_STATE_LOCAL_EXP,PER_TEACH_INEXP,PER_OUT_CERT,CORE_INDEX
PER_FED_STATE_LOCAL_EXP,1.000000,0.211480,0.109818,-0.129200
PER_TEACH_INEXP,0.211480,1.000000,0.408357,-0.240017
PER_OUT_CERT,0.109818,0.408357,1.000000,-0.171328
CORE_INDEX,-0.129200,-0.240017,-0.171328,1.000000